<div>    Welcome to the property details page
    this page will help the user to sign a lease and plan the furniture.
    if it's the owner of the page, he/she can remove the property or view the tenant info.</div>